body {
  margin: 0;
  font-family: "Alef", "Space Mono", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right,
    rgba(129, 255, 247, 0.8) 0%,
    rgba(89, 214, 255, 0.8),
    rgba(104, 172, 255, 0.8) 100%
  );
}

/* ---------------Media query for small screens ------------------ */
@media (max-width: 570px) {
  body {
    height: 100vh;
    overflow: none;
    background-attachment: fixed;
  }
  
}
