.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.info-container > .hello {
  font-family: Alef;
  font-size: 30px;
  font-weight: bold;
}
.info-container > .repos-number {
  font-family: Alef;
  font-size: 22px;
  text-align: center;
}

.rotate {
  transition: transform 3s;
  margin-top: 20px;
  border-radius: 50%;
  width: 120px;
}

.rotate:hover {
  transform: rotate(360deg);
}
/* ---------------Media query for medium screens ------------------ */
@media (max-width: 895px) {
  .info-container > .hello {
    font-size: 23px;
  }

  .info-container > .repos-number {
    font-size: 15px;
  }

  .rotate {
    width: 80px;
  }

  .rotate:hover {
    transform: rotate(360deg);
  }
}

/* ---------------Media query for medium screens ------------------ */
@media (max-width: 570px) {
  .info-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  */
